# Copy to secrets.properties for real local credentials.
braze.apiKey=
braze.endpoint=sdk.iad-03.braze.com
braze.restEndpoint=https://rest.iad-03.braze.com
demo.externalId=lumo-demo-user
demo.profileName=Lumo default
demo.displayName=Mo
